<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EO3</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/home">TechHub</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/games">games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mangas">Manga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">contact</a>
                </ul>
                <div class="d-flex gap-2">
                    <button class="btn btn-outline-custom">Đăng nhập</button>
                    <button class="btn btn-gradient">Đăng ký</button>
                </div>
            </div>
        </div>
    </nav>
        </header>

        <div>{{{body}}}</div>

        <footer>

        </footer>
    </body>
</html>