<div class="mt-4">
    <form method="GET" action="/search">
        <input type="search" name="q" class="Search" value="{{q}}" required placeholder="Search manga...">
        <button type="submit" class="SearchButton">🔎</button>
    </form>
    <!--
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
    -->
</div>